html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6em;
    color: #333;
    background-color: #efefef;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#first-division {
    background-color:#1d6bf2;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 1.5em;
    margin-top: 1rem;
    margin-bottom: 1em;
}

#second-division {
    background-color:#fff;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 1.5em;
}

h1 {
    font-size: 2.986rem;
    line-height: 1.2em;
    color: #fff;
}

.contact-and-address {
    font-size: 1rem;
    color: #fff;
}

h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 1.6em;
    color: #1d6bf2;
}

footer {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1rem;
    background-color: #1d6bf2;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #fff;
    border-radius: 1.5em;
}

@media screen and (max-width: 600px) {
    #first-division {
        padding: 1em;
    }

    #second-division {
        padding: 1em;
    }

    h1 {
        font-size: 2.074rem;
    }
}