.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    }
  
  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
    }
  
.dm-sans-variable {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    font-style: normal;
    }

html {
    line-height: 1.6em;
    color: #333;
    background-color: #efefef;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    }

p, ul, ol {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 1000;
    font-style: normal;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.15em;
    }


main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    }

#first-division {
    background-color:#1d6bf2;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 1.5em;
    margin-top: 1rem;
    margin-bottom: 1em;
    }

#second-division {
    background-color:#fff;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 1.5em;
    }

h1 {
    font-size: 2.986rem;
    color: #fff;
    }

.contact-and-address {
    font-size: 1rem;
    color: #fff;
    }

h2 {
    font-size: 2.074rem;
    margin-top: 1.6em;
    color: #1d6bf2;
    }

footer {
    text-align: center;
    background-color: #1d6bf2;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #fff;
    border-radius: 1.5em;
    }

@media screen and (max-width: 600px) {
    #first-division {
        padding: 1em;
        }

    #second-division {
        padding: 1em;
        }

    h1 {
        font-size: 2.488rem;
        }
    }